.AddonsList {
    background: #272727;
    border-radius: 6px;
    position: absolute;
    top: 15px;
    width: 350px;
    height: calc(100% - 60px);
}

.AddonsInfo {
    background: #272727;
    border-radius: 6px;
    position: absolute;
    top: 15px;
    right: 40px;
    width: calc(100% - 410px);
    height: calc(100% - 60px);
}