.ServerFront {
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 80px;
    transition: background 200ms;
}


.ServerFront:hover {
    background: rgba(0, 0, 0, 0.4);
}

.Server {
    border-radius: 6px;
    position: absolute;
    left: 5px;
    width: 190px;
    height: 80px;
}

.ServerBack {
    background: #161616;
    border-radius: 6px;
    width: 190px;
    height: 80px;
}

.ServerImage {
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 15px;
    width: 50px;
    height: 50px;
    transform: translate(0, -50%);
}

.ServerNames {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 105px;
    height: 50px;
}

.ServerBrand {
    font-family: "Calibri Light", serif;
    font-size: 18pt;
    color: #e5b60f;
    position: absolute;
    top: 0;
    left: 10px;
}

.ServerName {
    font-family: "Calibri Light", serif;
    font-size: 10pt;
    color: #d0d0d0;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#Server1 {
    top: 5px;
}

#Server2 {
    top: 95px;
}

#Server3 {
    top: 185px;
}



.InstalledAddons {
    background: #161616;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 6px;
    width: 280px;
    height: 320px;
}

.Friends {
    background: #161616;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 6px;
    width: 280px;
    height: 200px;
}

.blog {
    background: #161616;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 6px;
    width: 440px;
    height: 400px;
}

.BootClient {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 6px;
    width: 440px;
    height: 120px;
}

.PlayButton {
    font-size: 40pt;
    font-family: "Calibri Light", serif;
    color: #9ce094;
    background: #42bb32;
    position: absolute;
    top: 15px;
    left: 20px;
    border-radius: 24px;
    width: 300px;
    height: 90px;
}

.BootSettings {
    background: #797979;
    position: absolute;
    top: 50%;
    right: 25px;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    transform: translate(0, -50%);
}