.mainSpace {
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
}

#ExitFullScreen {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.ResizeBlock1 {
    position: absolute;
    width: 8px;
    height: 100%;
    right: 0;
    top: 30px;
    cursor: e-resize;
}

.ResizeBlock2 {
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0;
    cursor: n-resize;
}

.ResizeBlock3 {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.launcherPage {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 100%;
    height: 100%;
}

.lockSpace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: rgba(22,22,22,1);
    transition: background 200ms;
}

.launcherMenu {
    position: relative;
    top: 50%;
    width: 30px;
    height: 230px;
    transform: translate(0, -55%);
}

.LMenuLine {
    position: relative;
    border-radius: 10px;
    top: 50%;
    left: 10px;
    width: 4px;
    height: 150px;
    background: #b9b9b9;
    transform: translate(0, -50%);
    transition: left 400ms, background 300ms;
}

.LMenuChoice {
    position: absolute;
    transition: left 400ms;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translate(0, -50%);
    left: -90px;
}

.LMenuChoice:before {
    content: " ";
    position: absolute;
    /*border: solid #b9b9b9 2px;*/
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 300px;
    transform: translate(0, -18%) rotate(20deg);
    background: #161616;
}

.LMC2 {
    content: "";
    position: relative;
    /*border: solid #b9b9b9 2px;*/
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 300px;
    transform: translate(0, -85%) rotate(-20deg);
    background: #161616;
}

.LMenuSelected {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -14px;
    transform: translate(0, -50%);
    background: #b9b9b9;
    width: 10px;
    height: 40px;
    transition: top 400ms;
}

.LMenuButtons {
    position: fixed;
    top: 45%;
    left: 5px;
    width: 60px;
    height: 220px;
    transform: translate(0, -50%);
}

.LMenuAddons {
    border: solid #2247a6;
    border-radius: 10px;
    color: #2247a6;
    background: #3277bb;
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    transition: background 200ms;
}

.LMenuAddons:hover {
    background: #2247a6;
}

.LMenuPlay {
    border: solid #1c6318;
    border-radius: 10px;
    color: #1c6318;
    position: absolute;
    background: #42bb32;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translate(0, -50%);
    transition: background 200ms;
}

.LMenuPlay:hover {
    background: #1c6318;
}

.LMenuSettings {
    border: solid #444444;
    border-radius: 10px;
    color: #444444;
    background: #676767;
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    transition: background 200ms;
}

.LMenuSettings:hover {
    background: #444444;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    font-family: "Segoe UI Semibold", serif;
    transform: translate(-50%, -55%);

}

.launcherMenu:hover .LMenuLine {
    left: 80px;
    background: transparent;
}

.launcherMenu:hover .LMenuChoice {
    left: 10px;
}

/*//////////////////////////////////*/
.debuger {
    position: absolute;
    right: 200px;
    top: 40px;
}
